doctype html
html
    title Rap battle with Web Speech API
    link(rel="stylesheet", href="/rap-battle/css/flex.css")
    link(rel="stylesheet", href="/rap-battle/css/orthogonal.css")
    link(rel="stylesheet", href="/rap-battle/css/style.css")
    script(src="/rap-battle/js/script.js")
    body
        .flex.col.fill(border="5px solid red")
            h1 Rapple Bots
            .flex.row.wide.tall(border="5px solid green")
                include ./bots.pug